@media (max-width: 575.98px) {
  html,
  body {
    padding-top: 5px !important;
    display: block !important;
  }
  .col-sm {
    margin-top: 10px;
  }
  .row {
    margin: 20px;
  }
  .contact,
  .social-icons {
    padding: auto !important;
  }
  .contact-button {
    width: 180px !important;
    height: 100px !important;
    font-size: 16px !important;
  }
  .full-name {
    font-size: 28px !important;
  }
  .card-lg {
    margin-top: auto !important;
    padding: 0 !important;
  }
}

@media (max-width: 767.98px) {
}

@media (max-width: 991.98px) {
}

@media (max-width: 1199.98px) {
}

@media (max-width: 1399.98px) {
}

:root {
  /* --text: rgb(254, 139, 38); */
  --text: #f2e8db;
  --accent: #000000;
}

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  display: block;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  color: var(--text);
  /* background-image: linear-gradient(
    45deg,
    #895d48 0%,
    #895d48 1%,
    #593d30 1%,
    #593d30 15%,
    #e1d7c9 15%,
    #e1d7c9 38%,
    #e98127 38%,
    #e98127 55%,
    #f8f2ea 55%,
    #f8f2ea 62%,
    #e1c7a6 62%,
    #e1c7a6 63%,
    #f5e4ce 63%,
    #f5e4ce 69%,
    #3d312e 69%,
    #3d312e 100%
  ); */

  background-image: linear-gradient(
      45deg,
      rgb(137, 93, 72) 0%,
      rgb(137, 93, 72) 5%,
      transparent 5%,
      transparent 38%,
      transparent 38%,
      transparent 60%,
      rgb(89, 61, 48) 60%,
      rgb(89, 61, 48) 100%
    ),
    linear-gradient(
      135deg,
      rgb(225, 215, 201) 0%,
      rgb(225, 215, 201) 14%,
      rgb(233, 129, 39) 14%,
      rgb(233, 129, 39) 75%,
      rgb(248, 242, 234) 75%,
      rgb(248, 242, 234) 100%
    ),
    linear-gradient(90deg, rgb(225, 199, 166), rgb(225, 199, 166));
}

@keyframes gradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}

.center-in-div {
  position: absolute;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.long-shadow {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}

.shadow-sm {
  box-shadow: 0 2px 7px -5px #000000;
}

.row {
  /* margin-top: 10px; */
}

.glass {
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 25px;
}
.details {
  padding: 20px;
  font-size: 22px;
}

.card-lg {
  border-radius: 10px;
  /* background-color: #00000033; */
  /* padding: 15px; */
  /* box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff; */
}

.full-name {
  font-family: Futura;
  font-size: 35px;
  font-style: normal;
  letter-spacing: 4px;
  line-height: 36.4px;
  text-transform: uppercase;
  text-align: left;
}

/*Contact*/
.contact-button {
  color: var(--text);
  border-radius: 10px;
  vertical-align: middle;
  text-align: center;
  padding: 0px;
  margin: auto;
  font-size: 20px;
  /* backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px); */
  width: 200px;
  height: 100px;
  line-height: 100px;
  /* margin: 10px; */
}
.contact-button a {
  text-decoration: none;
  color: var(--text);
  vertical-align: middle;
}

.contact i {
  font-size: 25px;
  padding: 10px;
}

.company-link {
  text-decoration: none;
  font-weight: 600;
  color: var(--text);
}

/* Social Icons*/

@media (max-width: 767px) {
  .social-icons {
    padding: 50px 0;
  }
}
.social-icons,
.contact {
  color: #313437;
  background-color: transparent;
  text-align: center;
  padding: auto;
}

.social-icons i {
  font-size: 42px;
  display: inline-block;
  color: var(--text);
  margin: 5px;
  width: 80px;
  height: 80px;
  border-radius: 10px;
  text-align: center;
  line-height: 80px;
}

.social-icons a i,
.contact-button {
  transition-delay: 0ms;
  transition-duration: 0.15s !important;
  /* box-shadow: 0 2px 7px -5px #000000; */
  /* box-shadow: 0 3px 4px rgba(140, 149, 159, 0.15); */
}

.social-icons a i:hover,
.contact-button:hover {
  color: var(--text);
  transform: scale(1.05);
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

/* PARAGRAPH */
.text-animate {
  border-right: solid 3px var(--text);
  white-space: nowrap;
  overflow: hidden;
}

/* Animation */
.text-animate {
  animation: animated-text 2s steps(19, end) 1s 1 normal both, animated-cursor 600ms steps(19, end) infinite;
}

/* text animation */
@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* cursor animations */
@keyframes animated-cursor {
  from {
    border-right-color: white;
  }
  to {
    border-right-color: transparent;
  }
}

.animate__animated.animate__fadeIn {
  --animate-duration: 0.5s;
}

/* Hover Animation */

.card {
  padding: 1em;
  text-align: right;

  /* box-shadow: 0 1px 5px #00000099; */
  background-color: transparent;
  border-radius: 15px;
  position: relative;

  transition-duration: 300ms;
  transition-property: transform, box-shadow;
  transition-timing-function: ease-out;
  transform: rotate3d(0);
}

.card:hover {
  transition-duration: 150ms;
  /* box-shadow: 0 5px 20px 5px #00000044; */
}

.card .glow {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-image: radial-gradient(circle at 50% -20%, #ffffff22, #0000000f);
}
